*{ 
    margin: 0; 
    padding: 0; 
} 
.menu ul{ 
    list-style: none; 
    text-align: center; 
    background-color:bisque; 
} 
.menu ul li{ 
    display: inline-block; 
    width:120px; 
    line-height: 40px; 
} 
.menu ul li ul{ 
    display: none; 
} 
.menu ul li:hover ul{ 
    display: block; 
    position: absolute; 
 
} 
.menu ul li ul li{ 
display:block; 
} 
.menu ul li a{ 
text-decoration: none; 
color: rgb(146, 4, 146); 
display: block; 
} 
.menu ul li a:hover{ 
background-color: pink; 
}