.bome{
    display: flex;
    justify-content: space-between
}
.con{
    text-align: center;
}

.anhcon{
    width:200px;
    height: 100px;
}

.doanvan1{
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    text-indent: 40px;
    font-style: italic;
    margin: 15px 0;

}

.kichthuoc1{
    width: 200px;
    height: 250px;
}
.kichthuocanh1 {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 8px;}
      .card {
        background-color: #fffaf0; 
        border: 1px solid #f5cba7; 
      }
  